#footer{
    display: flex;
    flex-direction: row;
    padding:20px;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items:center;
    
}

#categories{
    display: flex;
    flex-direction: row;
    /* align-self: flex-start; */
    justify-content: space-between;
    padding-left:50px;
}

#categories > div {
    padding: 25px 25px 25px 0
}


.footer-right {
    align-self: flex-end;
    margin-left:auto;
    align-self: flex-end;
  }

  .icons > img {
      padding-left: 5px;
  }

