.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#videos {
  width: 1341px;
  margin-left: 360px;
}
  
.searchField{
  background-color:white;
  border-radius: 0;
  width: 740px;
  height: 40px;
}


.searchField fieldset{
  border-radius: 50px;
  color:white;
}  


.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  justify-content: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}


#news{
  /* margin-left: 360px; */
  justify-content: space-between;
  flex-wrap: nowrap;
}

#news > div {
  width: 300px;
  height: 300px;
}
.main {
  margin-left:150px;
}

h2{
  text-align: left;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}


@media (min-width: 600px) and (max-width: 1366px) {
  .aside { flex: 1 0 0; }
  .search { width:50px; }
  #news{margin-left: 25px;padding:25px 0 25px}
  #articles{margin-left: 25px;padding:25px 0 25px}
  #blog{margin-left: 25px;padding:25px 0 25px}
  #videos{margin-left: 25px;padding:25px 0 25px}
  #news > div {width: 210px;height: 210px;}
  .search{margin-top: 25px;}
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .search{order: 1;}
  .aside { order: 3; } 
  .main    { order: 2; }
  .footer  { order: 4; }
  .search { width:150px; }

}



  
  



